<div class="history-container">
    <h2>{{ 'Test History' | translate}}</h2>
    <table class="test-table">
      <thead>
        <tr>
          <th>{{ 'Date' | translate }}</th>
          <th>{{ 'Score' | translate}} Refactoring-Game</th>
          <th>{{ 'Score' | translate}} Check-Game</th>
          <th>{{ 'Correct Answers' | translate}}</th>
          <th>{{ 'Wrong Answers' | translate}}</th>
          <th>Tempo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let test of testHistory">
          <td>{{ test.date | date:'short' }}</td>
          <td>{{ test.refactoringScore }}</td>
          <td>{{ test.checkScore }}</td>
          <td>{{ test.correctAnswers }}</td>
          <td>{{ test.wrongAnswers }}</td>
          <td>{{ test.completionTime }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="chart-container">
    <h3>{{'User Progress' | translate}}</h3>
    <canvas id="scoreChart"></canvas>
  </div>

  <div style="display: flex; flex-direction: column; align-items: flex-start; gap: 10px; width: auto;">
    <button class="btn btn-danger" (click)="clearTestHistory()">{{'Delete Local History' | translate}}</button>
    <button class="btn btn-danger" (click)="deleteHistory()">{{'Delete Server History' | translate}}</button>
  </div>

  